@import "side-form";
@import "myPerfectMixins";
@import "items";
@import "popup";

.upper {
  text-transform: uppercase;
}
* {
  box-sizing: border-box;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.right {
  display: block;
  float: right;
}
.left {
  display: block;
  float: left;
}
.text-center {
  text-align: center;
}

@pt-sans: 'PT Sans', sans-serif;
@open-sans: 'Open Sans', sans-serif;
@scada: 'Scada', sans-serif;

section:first-of-type {
  background: #262626
}

